**/*.*
**/__pycache__
scripts
!**/*.md
datasets/**/*.md
!**/*.py
datasets/**/*.py
!**/*.ipynb
test.ipynb
results
# !results/**/*.csv
# !results/**/*.pth
# !results/**/*.npy
!readme.md
!requirements.txt
!.gitignore